/JUInspectorView.xcodeproj/project.xcworkspace/xcuserdata/Sidney.xcuserdatad/UserInterfaceState.xcuserstate
/JUInspectorView.xcodeproj/project.xcworkspace/xcuserdata/Sidney.xcuserdatad/WorkspaceSettings.xcsettings
/JUInspectorView.xcodeproj/xcuserdata/Sidney.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
/JUInspectorView.xcodeproj/xcuserdata/Sidney.xcuserdatad/xcschemes/JUInspectorView.xcscheme
/JUInspectorView.xcodeproj/xcuserdata/Sidney.xcuserdatad/xcschemes/xcschememanagement.plist